/* .questions form {
    display: none;
  }
  
.end {
    display: none;
} */

.hidden{
    display: none;
}
main{
    margin: 15rem;
    padding: 18rem;
}

input[type='radio']{
background-color: blue;
}